{{ with .Site.Social.github }}<li><a href="{{.}}" target="_blank" rel="noopener" title="GitHub" class="fab fa-github"></a></li>{{ end }}
{{ with .Site.Social.youtube }}<li><a href="{{.}}" target="_blank" rel="noopener" title="YouTube" class="fab fa-youtube"></a></li>{{ end }}
{{ with .Site.Social.twitter }}<li><a href="{{.}}" target="_blank" rel="noopener" title="Twitter" class="fab fa-twitter"></a></li>{{ end }}
{{ with .Site.Social.twitch }}<li><a href="{{.}}" target="_blank" rel="noopener" title="Twitch" class="fab fa-twitch"></a></li>{{ end }}
