{{ define "main" }}
<div class="main_container">
  <div class="container">
    <!-- Left vertical line -->
    <div class="container__line"></div>

    <ul class="container__items">
      <li class="container__item">
        <div class="container__top">
            <div class="container__circle"></div>
      
            <div class="container__title">
              <h3>&nbspDebut du parcours</h3>
            </div>
        </div>
      </li>
        <li class="container__item">
            <div class="container__top">
                <div class="container__circle"></div>

                <div class="container__title">
                  <h3 style="padding-bottom:0">
                    <a href="https://www.twitch.tv/drakelelionblanc" target="_blank" rel="noopener"><h3>&nbspMon Twitch </h3>       
                    </h3></a> 
                </div>
            </div>

            <div class="container__desc">
                <p class="short-text">Pour ne pas rater les prochains live n'hésite pas à follow ici.</p>
            </div>
        </li>
        <li class="container__item">
          <div class="container__top">
              <div class="container__circle"></div>

              <div class="container__title">
                <h3 style="padding-bottom:0">
                  <a href="https://www.twitch.tv/drakelelionblanc" target="_blank" rel="noopener"><h3>&nbspMon Youtube</h3>        
                  </h3></a> 
              </div>
          </div>

          <div class="container__desc">
            <p class="short-text">L'intégralité des redifs des lives et quelques montages exclusifs à youtue trouvable ici</p>
          </div>
      </li>
      <li class="container__item">
        <div class="container__top">
            <div class="container__circle"></div>

            <div class="container__title">
              <a href="https://www.twitch.tv/drakelelionblanc" target="_blank" rel="noopener"><h3>&nbspMon Twitter</h3></a> 
            </div>
        </div>

        <div class="container__desc">
          <p class="short-text">La meilleure façon pour savoir ce que je fais de ma vie, bien que je tweet occasionnelement je passe beaucoup de temps sur mon twitter. J'y poste aussi le programme des lives quand ça a un sens.</p>
        </div>
    </li>
    <li class="container__item">
      <div class="container__top">
          <div class="container__circle"></div>

          <div class="container__title">
            <a href="https://www.twitch.tv/drakelelionblanc" target="_blank" rel="noopener"><h3>&nbspMon Discord : Celestis</h3></a> 
          </div>
      </div>

      <div class="container__desc">
        <p class="short-text">La communauté celestis, ouverte à tous, si vous souhaitez parler avec les personnes du chat de pas mals de sujets différents. Le serveur est chaotique mais la bonne humeure y est toujours présente.</p>
      </div>
  </li>
  <li class="container__item">
    <div class="container__top">
        <div class="container__circle"></div>

        <div class="container__title">
          <a href="https://www.twitch.tv/drakelelionblanc" target="_blank" rel="noopener"><h3>&nbspLe discord "Serveur des streamers"</h3></a> 
        </div>
    </div>

    <div class="container__desc">
      <p class="short-text">Pour suivre l'actualité d'une bonne partie de copains streamers avec qui j'échange beaucoup et qui aparaissent souvent sur mes lives (et inverssement).</p>
    </div>
</li>
<li class="container__item">
  <div class="container__top">
      <div class="container__circle"></div>

      <div class="container__title">
        <h3>&nbspFin de parcours</h3>
      </div>
  </div>
</li>
    </ul>
  </div>
</div>

{{ end }}